<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/bulma.min.css"/>
    <title>Peertube search engine</title>
</head>
<body>
{{> nav}}
{{~> page}}
{{> footer}}
</body>
</html>